

.new-tweet {
    border: 0.5px solid lightgray;
    height: 160px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 10px;
    background-color: #eee;
    width: 100%;
    margin-top:5em;
}

.new-tweet h2 {
    border-bottom: 1px solid black;
}

.new-tweet textarea {
    width: 100%;
    height: 50px;
}

.new-tweet  span.counter{
    float: right ;
    font-size: 12px;
    font-style: italic;
    padding-top: 5px;
}

.new-tweet span.counter-negative {
    float: right;
    font-size: 12px;
    font-style: italic;
    color: red;
    padding-top: 5px;
}

article {
    border: 0.5px solid lightgray;
    margin-top: 50px;
    border-radius: 10px;
    height: 200px;
    font-weight: 200;
}

article:hover {
    font-weight: 2em;
    border: 1.0px solid black;

}

article header {
    height: 60px;
    background-color: #eee;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

article header img[src] {
    font-size: 2.5em;
    float: left;
    margin-top: 5px;
    margin-left: 5px;
}

article header h3 {
    float: left;
    margin: 5px;
    margin-top: 10px;
}

article header span {
    float: right;
    margin: 13px 7px;

}


article section.tweet-body p{
    height: 100%;
    vertical-align: middle;
    font-size: 20px;
    margin: 30px 0 30px 10px;
}

article footer {
    margin-left: 0px;
    border-top: 1px solid black;
}

article footer p {
    margin: 10px;
    float: left;
    font-size: 13px;

}

article footer i {
    visibility: hidden;
}

article:hover footer i {
    float: right;
    margin: 5px;
    margin-top: 10px;
    visibility: visible;
}




